.tag {
  color: black;
  font-weight: 200;
  text-align: center;
  height: auto;
  width: auto;
  padding: 0 10px;
  margin: 7px 5px;
  border-radius: 5px;
  border: 1px solid #00f2fe !important;
  background: #00f2fe;
}
